<launch>

    <!-- 启动mbot -->
    <node pkg="mbot_bringup" type="mbot_bringup" name="mbot_bringup" output="screen" />

    <!-- 加载机器人模型参数 -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mbot_description)/urdf/xacro/mbot_with_laser.xacro'" />
    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  
    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- 运行激光雷达驱动 -->
    <include file="$(find mbot_bringup)/launch/rplidar.launch" />

    <!-- launch IMU -->
    <include file="$(find lpms_imu)/launch/lpms_medk.launch" />

    <!-- launch robot_pose_ekf -->
    <include file="$(find robot_pose_ekf)/robot_pose_ekf.launch" />

    <!-- launch odom_ekf -->
    <include file="$(find mbot_bringup)/launch/odom_ekf.launch" />

</launch>
