<launch>

    <!-- 启动mbot -->
    <node pkg="mbot_bringup" type="mbot_bringup" name="mbot_bringup" output="screen" />

    <!-- 加载机器人模型参数 -->
    <param name="robot_description" textfile="$(find mbot_description)/urdf/urdf/mbot_with_laser_camera.urdf" />
    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  
    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
        <param name="publish_frequency" type="double" value="10.0" />
    </node>
    <include file="$(find usb_cam)/launch/usb_cam-test1.launch" />
    <!-- 运行激光雷达驱动 -->
    <include file="$(find mbot_bringup)/launch/rplidar.launch" />
    <!-- include file="$(find mbot_bringup)/launch/hokuyo.launch" / -->

</launch>
